version: 2

updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: "daily"
      time: "06:00"
      timezone: "Asia/Kolkata"
    commit-message:
      prefix: "chore(deps): "
    labels:
      - "dependencies"
