name: Code QA

on:
  pull_request:
    types:
      - synchronize
      - opened
      - ready_for_review
      - reopened
      - review_requested
    branches-ignore: ["dependabot/**"]
    paths: ["**/*.ts"]

jobs:
  run-eslint:
    name: Run ESLint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4.2.2

      - name: Install pnpm
        uses: pnpm/action-setup@v4.1.0

      - name: Setup Node.js
        uses: actions/setup-node@v4.4.0
        with:
          node-version: 25
          cache: "pnpm"
          cache-dependency-path: "./pnpm-lock.yaml"

      - name: Install the Dependencies
        run: pnpm install --frozen-lockfile

      - name: Run ESLint
        run: pnpm lint

  run-prettier:
    name: Run Prettier
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4.2.2

      - name: Install pnpm
        uses: pnpm/action-setup@v4.1.0

      - name: Setup Node.js
        uses: actions/setup-node@v4.4.0
        with:
          node-version: 25
          cache: "pnpm"
          cache-dependency-path: "./pnpm-lock.yaml"

      - name: Install the Dependencies
        run: pnpm install --frozen-lockfile

      - name: Run Prettier
        run: pnpm format:check
